<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="dbase_command_dispatch">
        <observer name="dbase_command_listener" instance="Kram\Handler\Observer\Dbase"/>
    </event>
</config>
