/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/*
/node_modules
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/dev/*
/setup/*
/update/*
/phpserver/*
/var/*
/vendor/*
/pub/*
/generated/*
/*.*
/pestle
/bin/*
/app/*.*
/app/etc/